@model Seven.Models.ModelContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ModelContract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Afp.AfpDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afp.AfpDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arl.ArlDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arl.ArlDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compensation.CompensationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compensation.CompensationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eps.EpsDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eps.EpsDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelType.ModelTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelType.ModelTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organitation.OrganitationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organitation.OrganitationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfitCenter.ProfitCenterDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfitCenter.ProfitCenterDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supervisor.IdentityCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supervisor.IdentityCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Percent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModelContractID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
